{% extends 'users/base.html' %}
{% load form_extras %}
{% block title %}
    Change password
{% endblock title %}

{% block body %}
    <div class="row justify-content-center">
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert" style="margin-top: 10px; width: 30%;">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="card" style="margin-top: 10px; width: 30%;">
            <div class="card-header">
                <h4>Change password</h4>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>
                            <label for="id_email">Old password</label>
                            {% if form.old_password.errors %}
                                {{ form.old_password|addClass:"form-control is-invalid" }}
                                {% for error in form.old_password.errors %}
                                    <p style="color: red; font-size: 0.8rem;margin-top: -12px;">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% else %}
                                {{ form.old_password|addClass:"form-control" }}
                            {% endif %}
                        </p>
                        <p>
                            <label for="id_email">New password</label>
                            {% if form.new_password2.errors %}
                                {{ form.new_password1|addClass:"form-control is-invalid" }}
                                {% for error in form.new_password2.errors %}
                                    <p style="color: red; font-size: 0.8rem;margin-top: -12px;">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% else %}
                                {{ form.new_password1|addClass:"form-control" }}
                            {% endif %}
                        </p>
                        <p>
                            <label for="id_email">Confirm new password</label>
                            {% if form.new_password2.errors %}
                                {{ form.new_password2|addClass:"form-control is-invalid" }}
                                {% for error in form.new_password2.errors %}
                                    <p style="color: red; font-size: 0.8rem;margin-top: -12px;">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% else %}
                                {{ form.new_password2|addClass:"form-control" }}
                            {% endif %}
                        </p>
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}