{% extends 'users/base.html' %}
{% load form_extras %}
{% block title %}
    Reset password
{% endblock title %}

{% block body %}
    <div class="row justify-content-center">
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert" style="margin-top: 10px; width: 30%;">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="card" style="margin-top: 10px; width: 30%;">
            <div class="card-header">
                <h4>Check your inbox.</h4>
            </div>
            <div class="card-body">
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            </div>
        </div>
    </div>
{% endblock body %}