{% extends 'users/base.html' %}
{% load form_extras %}
{% block title %}
    Reset password
{% endblock title %}

{% block body %}
    <div class="row justify-content-center">
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert" style="margin-top: 10px; width: 30%;">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="card" style="margin-top: 10px; width: 30%;">
            <div class="card-header">
                <h4>Reset password</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>
                            <label for="id_email">Email</label>
                            {{ form.email|addClass:"form-control" }}
                        </p>
{#                        <p>#}
{#                            <label for="id_username">Password</label>#}
{#                            {{ form.password|addClass:"form-control" }}#}
{#                        </p>#}
                        <button type="submit" class="btn btn-primary">Request password reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}